body {
    font-family: sans-serif;
}

div.hero {
    background-color: #1F2937;
}

div.hero_text_and_image {
    padding: 50px;
    padding-bottom: 100px;
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
}

div.hero_text {
    flex-grow: 0;
    flex-shrink: 2;
    flex-basis: 400px;
    margin-bottom: 0px;
}

div.hero_image {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100px;
}

div.hero_text h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: extra-bold;
    margin-bottom: 0px;
}

nav {
    padding: 12px;
    border-bottom: 2px gray;
}

li.header_logo {
    margin-right: auto;
}

ul {
    list-style-type: none;
    align-items: baseline;
    padding: 0px;
    margin: 0px;
    display: flex;
    gap: 12px;
}

ul a {
    color: inherit;
    text-decoration: none;
    font-size: 0.875rem;
}

.header_logo a {
    flex-wrap: wrap;
    margin-right: auto;
    font-size: 1.125rem;
    font-weight: 500;
    color: #F9FAF8;
    font-size: 24px;
}

.header_link {
    color: #E5E7EB;
    font-size: 16px;
}

p.header_link {
    margin-top: 0px;
}

button {
    color: white;
    font-size: 18px;
    font-weight: bold;
    background-color: #3882F6;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
    border: 5px solid #3882F6;
}

div.random_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

span.random_text {
    font-size: 36px;
    font-weight: 900;
    padding-bottom: 40px;
}

div.four_boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

div.box_container {
    display: flex;
    flex-direction: column;
    flex-basis: 150px;
    gap: 10px;
    justify-content: center;
}

div.blue_box_text {
    text-align: center;
}

div.thor_quote {
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 100px;
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-weight: light;
    align-items: flex-end;
}

span.quote {
    font-weight: light;
}

span.attribute {
    font-size: 24px;
}

div.cta_white {
    margin: 50px;
}
div.call_to_action {
    background-color: #3882F6;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    gap: 50px;
    color: white;
    min-width: 300px;
    align-items: center;
}

div.cta_text {
    display: flex;
    flex-direction: column;
    flex-basis: 300;
    gap: 5px;
    margin-left: 30px;
    min-width: 100px;
}

h3.cta {
    margin-top: 30px;
    margin-bottom: 0px;
}

p.cta {
    margin-top: 0px;
    margin-bottom: 30px;
}

button.signup_cta {
    border: 2px solid white;
    border-radius: 5px;
    height: 22;
    min-width: 130px;
}
